In [9]:
import pandas as pd
import seaborn as sns

In [10]:
df = pd.read_csv("./data/rewards.csv")
df

       i actionType     target    reward        pr
0      3       SWAP    slowbro  0.006880 -0.365068
1      0       SWAP    carbink -0.006880 -0.123745
2      0       SWAP    claydol  0.009829 -0.123745
3      3       SWAP      lugia -0.009829 -0.409580
4      0       SWAP   giratina  0.014041 -0.123745
...   ..        ...        ...       ...       ...
22723  7     ATTACK      roost -0.577741  0.003904
22724  8     ATTACK      toxic  0.677483 -0.098168
22725  5     ATTACK  blueflare -0.677483 -0.065163
22726  5     ATTACK   airslash  0.680001  0.100839
22727  5     ATTACK  blueflare -0.680001 -0.065163

[22728 rows x 5 columns]

In [11]:
df[df.actionType=="ATTACK"].describe()

                  i        reward            pr
count  11866.000000  11866.000000  11866.000000
mean       6.535564      0.059461     -0.019876
std        1.159635      0.324562      0.120895
min        5.000000     -1.116617     -0.576446
25%        5.000000     -0.133482     -0.098168
50%        6.000000      0.057059     -0.004673
75%        8.000000      0.257235      0.049161
max        8.000000      1.331863      0.330033

In [12]:
df[df.actionType=="SWAP"].describe()

                  i        reward            pr
count  10862.000000  10862.000000  10862.000000
mean       2.021911     -0.065176      0.018388
std        1.397671      0.245019      0.177865
min        0.000000     -1.331863     -0.489932
25%        1.000000     -0.211473     -0.071708
50%        2.000000     -0.051026      0.005856
75%        3.000000      0.084610      0.123757
max        4.000000      0.843658      0.530914